@charset "UTF-8";

header {
  background: #fac2ac;
}

footer {
  background: #fac2ac;
}

.fondo {
  background-color: #d5edf2;
}

.fondo2 {
  background-color: #fac2ac;
}

.row {
  display: flex;
  flex-direction: row;
  resize: both;
  justify-items: center;
}

.col {
  display: flex;
  flex-direction: column;
  resize: both;
  justify-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  display: flex;
  justify-content: space-between;
}

.justify-content-around {
  display: flex;
  justify-content: space-around;
}

.aling-items-center {
  display: flex;
  align-items: center;
}

.text-center {
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
}

.arial {
  font-family: Arial;
}

.calibri {
  font-family: Calibri;
}

.logo {
  resize: both;
  height: 3cm;
  width: 3cm;
}

.margin-horizontal {
  margin-left: 1cm;
  margin-right: 1cm;
  justify-items: center;
}

.margin-vertical5 {
  margin-top: 2.5cm;
  margin-bottom: 2.5cm;
  justify-items: center;
}

.margin-top {
  margin-top: 2.5cm;
  justify-items: center;
}

.margin-bottom {
  margin-bottom: 2.5cm;
  justify-items: center;
}

.margin-vertical {
  margin-top: 1cm;
  margin-bottom: 1cm;
  justify-items: center;
}

.margin-vertical05 {
  margin-top: 0.5cm;
  margin-bottom: 0.5cm;
  justify-items: center;
}

.i {
  margin-left: 1fr;
  margin-right: 1fr;
}

i {
  margin-left: 1fr;
  margin-right: 1fr;
}

.wrap-content {
  display: flex;
}

.logo {
  height: 90px;
  width: 90px;
}

.icono {
  object-fit: scale-down;
}

.iconoD {
  height: 15px;
  width: 15px;
}

.border {
  border: solid black 2px;
}

.login {
  background: white;
  height: 2cm;
  width: 4cm;
  font-size: 0.5cm;
  border: solid grey 0.1cm;
  border-radius: 5%;
}

.textbox {
  height: 1cm;
  width: 10cm;
  font-size: 0.5cm;
  border-radius: 2%;
}

.textbox-fecha {
  height: 1cm;
  width: 4.5cm;
  font-size: 0.5cm;
  border-radius: 2%;
}

a:hover {
  text-decoration: none;
}

::-ms-input-placeholder {
  color: black;
}

.gris {
  filter: grayscale(100%);
}
.desenfoque {
  filter: blur(3px);
}

.viejo {
  filter: sepia(100%);
}

.satur {
  filter: saturate(400%);
}

.opa {
  filter: opacity(25%);
}

.brillo {
  filter: brightness(150%);
}

.contraste {
  filter: contrast(200%);
}

.invertido {
  filter: invert(100%);
}

.gris {
  filter: grayscale(100%) blur(3px);
}

#video_background {
  position: absolute;

  bottom: 0px;

  right: 0px;

  min-width: 100%;

  min-height: 100%;

  width: auto;

  height: auto;

  z-index: -1000;

  overflow: hidden;
}

.video_pattern {
  background: #fff;

  position: fixed;

  opacity: 0.8;

  left: 0px;

  top: 0px;

  width: 100%;

  height: 100%;

  z-index: 1;
}

.flotante {
  display:scroll;
      position:fixed;
      bottom:320px;
      right:0px;
}

.boxTS1 {
  margin: 10px;
  width: 100px;
  height: 100px;
  background: pink;
  color: black;
  font-size: 20px;
  transition: width 4s linear, background 4s linear;
}

.boxTS2 {
    margin: 10px;
    width: 100px;
    height: 100px;
    background: pink;
    color: black;
    font-size: 20px;
    transition: width 4s ease, background 4s ease;
}

.boxTS3 {
    margin: 10px;
    width: 100px;
    height: 100px;
    background: pink;
    color: black;
    font-size: 20px;
    transition: width 4s ease-in, background 4s ease-in;
}

.boxTS4 {
    margin: 10px;
    width: 100px;
    height: 100px;
    background: pink;
    color: black;
    font-size: 20px;
    transition: width 4s ease-out, background 4s ease-out;
}

.boxTS5 {
    margin: 10px;
    width: 100px;
    height: 100px;
    background: pink;
    color: black;
    font-size: 20px;
    transition: width 4s ease-in-out, background 4s ease-in-out;
}

.boxTS1:hover {
  margin: 10px;
  width: 300px;
  background: yellow;
  color: black;
  font-size: 18px;
  transition: width 4s linear, background 4s linear;
}

.boxTS2:hover {
  margin: 10px;
  width: 300px;
  background: yellow;
  color: black;
  font-size: 18px;
  transition: width 4s ease, background 4s ease;
}

.boxTS3:hover {
  margin: 10px;
  width: 300px;
  background: yellow;
  color: black;
  font-size: 18px;
  transition: width 4s ease-in, background 4s ease-in;
}

.boxTS4:hover {
  margin: 10px;
  width: 300px;
  background: yellow;
  color: black;
  font-size: 18px;
  transition: width 4s ease-out, background 4s ease-out;
}

.boxTS5:hover {
  margin: 10px;
  width: 300px;
  background: yellow;
  color: black;
  font-size: 18px;
  transition: width 4s ease-in-out, background 4s ease-in-out;
}

#box{
  background:tomato;
  width:200px;
  height:200px;
}


#box:hover{
  transition: all 4s linear;
  transform:translate3d(100px, 100px, 100px) scale(0.5);  
}
